.col{
	background-color: aqua;
}

.row{
	/* width: 100%; */
	/* text-align: right; */
}

.container-fluid{
	padding: 0px;
	margin: 0px;
}

#codeColumn{
	flex: 1;
	background-color: cadetblue;
	width: 1px; /* THIS MAKES THE EDITOR NOT TAKE UP ALL THE ROW, AND THE ROW AND BE ADAPTABLE*/
}

#viewportColumn{
	flex: 0 0 600px;
	margin: 0px;
	padding: 0px;
	background-color: brown;
}

#viewport{
	width: 600px;
	height: 600px;
	padding: 0px;
}

.CodeMirror{
	border: 1px solid #0e0;
	/* height: auto; */
	width: auto;
	height: 600px;
}


